@font-face {
    font-family: 'MyriadPro_Regular';
    src: local('MyriadPro_Regular'),
         url('../MyriadPro_Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-strecht: condensed;
    unicode-range: "U+0-10FFFF";
}